/.kateproject.d/notes.txt
/.kateproject
/.directory
Makefile*
*~
bin
build
packages
*kde*
Doxy*
qgit4.tag
Debug/
Release/
*.ncb
*.suo
*.vcproj.*
*.qbs.user
moc_*.cpp
qrc_*.cpp
ui_*.h
qgit.pro.*
src/release
.qmake.stash
